body{
    background: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgb(192, 192, 185) 100%
    );
}
.forms{
    text-align: center;
    margin-top: 10%;
    font-size: 2rem;
}
.inserir{
    font-size: 2rem;
    background-color: rgb(136, 131, 124);
}
.botao{
    width: 22rem;
    font-size: 2rem;
}